html
  head
    meta(charset='utf-8')
    title Cookieclicker by Karol Świerczek
  body
    p(id="cookieCounter")
    button(id='cookie') Click me!
    section(class='shop' id='shop')
    script(src='bundle.js')