@import url('//db.onlinewebfonts.com/c/399d390534f151d40946031425404445?family=Gill+Sans+Std')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

@keyframes rotate
  0%
    transform rotate(0deg)
  25%
    transform rotate(90deg)
  50%
    transfrom rotate(180deg)
  75%
    transfrom rotate(270deg)
  100%
    transfrom rotate(360deg)

html, body
  margin 0
  font-family 'Gill Sans Std'
  background-color #5f8dd3
  overflow hidden
input[type=checkbox]
  position absolute
  top -9999px
  left -9999px
  &:checked
    ~ .gameBox
      margin-left 400px
    ~ .menu .menu__dropdown
      left 0
    ~ .menu .menu__button
      left 400px
    ~ .menu .menu__burger
      margin 0 auto
      position absolute
      &:nth-child(1)
        transform rotate(45deg)
      &:nth-child(2)
        opacity 0
      &:nth-child(3)
        transform rotate(-45deg)

.menu
  position absolute
  top 0
  display flex
  height 100%
  background-color #80b3ff
  &__button
    position absolute
    left 0
    top 0
    height 70px
    width 70px
    box-sizing border-box
    padding 5px
    display flex
    flex-direction column
    justify-content center
    align-items center
    cursor pointer
    transition all .42s
    &:hover
      opacity .8
      .menu__burger
        background white
  &__burger
    display block
    width 40px
    height 4px
    border-radius 4px
    background #d7e3f4
    margin 5px
    transition all .52s
    transition-timing-function cubic-bezier(.18,1.88,1,1)
  &__dropdown
    border-radius 8px
    position absolute
    top 0
    left -400px
    width 400px
    background #222
    transition all .52s
    transition-timing-function cubic-bezier(.49,.97,.4,1)
    max-height 100vh
    overflow-x auto

.gameBox
  margin 0 auto
  display flex
  justify-content center
  align-items center
  text-align center
  height 100%
  flex-direction column
  color white
  line-height 0px
  transition all .52s
  margin-left 0px
  min-width 550px
  background-image url('images/background.svg')
  #cookie
    margin-top 10px
    display inline-block
    cursor pointer
    img
      animation-name rotate
      animation-duration 64s
      animation-iteration-count infinite
      animation-timing-function linear
  #cookieCounter
    font-size 78px
  #cpsCounter
    font-size 26px

.shop
  &__category
    padding 15px 0
    display flex
    align-items center
    justify-content center
    background #ff5555
    color white
    font-size 1.4em

.item
  padding 10px
  box-sizing border-box
  color white
  background-color #1c232d
  &:nth-child(odd)
    background-color #293649
  &__title
    font-size 1.3em
    padding 5px 10px
    text-align center
  &__price
    font-family 'Open Sans'
    font-size 0.8em
    margin 5px
    padding 5px 10px
    background #161616
    color #9db4d6
    border-radius 9px
  &__description
    font-family 'Open Sans'
    font-size 0.8em
    margin 5px
    padding 5px 10px
    background #161616
    color #e2e2e2
    border-radius 9px
  &__button
    padding 3px 30px
    border-radius 8px
    border none
    background #ff5555
    cursor pointer
    font-family 'Open Sans'
    transition-duration .12s
    margin 0 5px
    color white
    &:hover
      opacity 0.7

.alert
  position absolute
  opacity 0
  right 15px
  bottom 15px
  width 500px
  height 70px
  border-radius 10px
  background #ff7777
  color white
  display flex
  justify-content center
  align-items center
  transition-duration .3s
